:root {
    --span-bg-color: grey;
    --values-bgc: aquamarine;
    --html-bgc: yellowgreen;
    --css-bgc: blueviolet;
    --bgc: orange;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:focus, a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.header {
    background-color: var(--bgc);
}

.footer {
    background-color: var(--bgc);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    Margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.resource-link {
    text-decoration: none;
    color: var(--span-bg-color)
}

.span-bg-color {
    background-color: var(--span-bg-color);
    border-radius: 3px;
}

.nav {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    Margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.list-in-list {
    padding-top: 15px;
}

.info-list {
    list-style: inside;
}

.values {
    background-color: var(--values-bgc);
}

.html {
    background-color: var(--html-bgc);
}

.css {
    background-color: var(--css-bgc);
}
