:root {
    --span-bg-color: grey;
    --red: red;
    --green: green;
    --blue: blue;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    Margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.resource-link {
    text-decoration: none;
    color: var(--span-bg-color)
}

.span-bg-color {
    background-color: var(--span-bg-color);
}

.span-red {
    background-color: var(--red);
}

.span-green {
    background-color: var(--green);
}

.span-blue {
    background-color: var(--blue);
}

.nav {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    Margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.hexadecimal-list {
    list-style: inside;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}